# Dependencies
node_modules/

# Python environments
.venv/
venv/

# Environment files
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/
out/

# Editor settings
.vscode/
.idea/

# Temp files
*.tmp
*.swp

