# Dependencies
node_modules/

package.json
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.venv/

# OS junk
.DS_Store
Thumbs.db

# Build output (if applicable later)
dist/
build/

# VS Code settings (optional)
.vscode/